.lightgreen {
    background-color: rgb(238, 250, 238);
    width: 1280px;
    height: 720px;
    margin: auto;
}

.black {
    background-color: black;
    width: 404px;
    height: 490px;
    margin: auto;
}

.logotip {
    width: 140px;
    height: 140px;
    left: 570px;
    top: 13px;
    border: 10px solid;
    margin: auto;
    padding: auto;
}

.p {
    color: white;
    text-align: center;
    position: absolute;
    width: 404px;
    height: 132px;
    top: 179px;
    margin-bottom: auto;
    padding: auto;
    font-weight: 600px;
    font-size: 29px;
    line-height: 35px;
    letter-spacing: 0.39em;
}

.key1 {
    width: 300px;
    height: 50px;
    margin-top: 100px;
    margin-left: 50px;
    border-style: solid;
    border-color: white;
    color: white;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-decoration: none;
}

.key2 {
    width: 300px;
    height: 50px;
    margin-top: 40px;
    margin-left: 50px;
    border-style: solid;
    border-color: white;
    color: white;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-decoration: none;
}

.link1 {
    text-decoration: none;
    color: white;
    display: contents;
}

.link2 {
    text-decoration: none;
    color: white;
    display: contents;
}